@model QLBH.Models.HomeModel;
@{
    ViewBag.Title = Model.BaiHat.TENBAIHAT;
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}
@{
    var StringTHOIGIANPH = (Model.BaiHat.Album.THOIGIANPH).ToString();
    var YearTHOIGIANPH = StringTHOIGIANPH.Substring(5, 5);
}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div id="page-wrapper">
    <div class="baihat">
        <div class="baihat-info-1">
            <div class="baihat-info-detail">
                <div class="baihat-detail-1">
                    <div>
                        <img class="img_audio"  src="@Model.BaiHat.ANHBH" width="100%">
                        <div class="baihat-detail-main">
                            <p>
                                Ca sỹ: <span class="baihat-info-strongword">@Model.BaiHat.Casi[0].TenNS</span>
                            </p>
                            <p>
                                Nhạc sỹ: <span class="baihat-info-strongword">@Model.BaiHat.Casi[0].TenNS</span>
                            </p>
                            <p>
                                Năm phát hành: <span class="baihat-info-strongword">@YearTHOIGIANPH</span>
                            </p>
                        </div>
                    </div>
                    <div class="baihat-option">
                        <p class="btn-baihat">
                            Tải xuống <span><i class="fa-solid fa-download"></i></span>
                        </p>
                        <p class="btn-baihat">
                            Chia sẻ <span><i class="fa-solid fa-share"></i></span>
                        </p>
                    </div>
                </div>
                <div class="baihat-detail-2">
                    <p class="baihat-tittle">
                        @Model.BaiHat.TENBAIHAT
                    </p>
                    <div class="baihat-lyric">
                        @Model.BaiHat.LOIBAIHAT
                        <p>
                            [Verse 1]<br>
                            I'll smile, I know what it takes to fool this town<br>
                            I'll do it 'til the sun goes down and all through the night time<br>
                            Oh, yeah<br>
                            Oh, yeah, I'll tell you what you wanna hear<br>
                            Keep my sunglasses on while I shed a tear<br>
                            It's never the right time, yeah<br>
                        </p>
                        <p>
                            [Pre-Chorus]<br>
                            I put my armor on, show you how strong I am<br>
                            I put my armor on, I'll show you that I am<br>
                        </p>
                        <p>
                            Xem thêm
                        </p>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="baihat-info-2">
            <div class="tuongtac-item">
                <p class="baihat-tuongtac">
                    Lượt nghe
                </p>
                <p class="baihat-tuongtac-data">
                    @Model.BaiHat.LUOTNGHE
                </p>
                <div class="baihat-tuongtac-btn play-one-audio"  link="@Model.BaiHat.LINKBH" name="@Model.BaiHat.TENBAIHAT" img="@Model.BaiHat.ANHBH">
                    Phát nhạc
                </div>
            </div>
            <div class="tuongtac-item">
                <p class="baihat-tuongtac">
                    Lượt yêu thích
                </p>
                <p class="baihat-tuongtac-data">
                   @Model.BaiHat.LUOTYEUTHICH
                </p>
                <p class="baihat-tuongtac-btn">
                    Yêu thích
                </p>
            </div>
        </div>
    </div>
    <div class="sings">
        <div class="tittle-head">
            <h3 class="tittle">Top bài hát của @Model.BaiHat.Casi[0].TenNS</h3>
            <div >
                            <button class="button_play_header update_playlist_audio" style="margin-left:0px;margin-top:5px">
                                <span class="material-symbols-outlined">
                                    play_circle
                                </span>
                            </button>
                            </div>
            <div class="clearfix"></div>
        </div>
        <div class="list-song scrollbar widget-side" id="style-7">
            <ul class="songs list1">
                @{
                    var i = 0;
                }
                @foreach (var item in Model.TopBaiHats)
                {
                    i++;
                    <li class="main-song" onmouseenter="mouseenterIcon(this)" onmouseleave="mouseleaveIcon(this)">
                        <div class="row">
                            <div class="col-md-5 main-song-title">
                                    <div class="play_audio main-song-cover" link=" @item.LINKBH" name="@item.TENBAIHAT" img="@item.ANHBH">
                                    <img class="img_audio main-song-img " src="@item.ANHBH" />
                                    <div class="main-song-play mini-song-play"><i class="fa-solid fa-play"></i></div>
                                </div>
                                <div class="main-song-text">
                                    <p class="name_audio">
                                        <a href="/User/BaiHat/Index/@item.Id" class="color_white">
                                            @item.TENBAIHAT
                                        </a>
                                    </p>    
                                    <p><a href="/User/NgheSy/Index/@item.Casi[0].Id" class="caSi">@item.Casi[0].TenNS</a></p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <span class="middle">@item.Album.TENAL</span>
                            </div>

                            <div class="col-md-3">
                                <div id="song-1" class="icons">
                                    @{
                                        if (Model.BaiHatYeuThichs != null)
                                        {
                                            int yt = 0;
                                            foreach (var bhyt in Model.BaiHatYeuThichs)
                                            {
                                                if (item.Id == bhyt.Id)
                                                {
                                                    yt = 1;
                                                }

                                            }
                                            if (yt == 1)
                                            {
                                                using (Html.BeginForm("DelBaiHatYeuThich", "Personal", FormMethod.Post))
                                                {
                                                        <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                        <button type="submit" name="submit" class="btn_hidden">
                                                            <span class="middle"><i class="fa-solid fa-heart"></i></span>
                                                        </button>
                                                }
                                            }
                                            else
                                            {
                                                using (Html.BeginForm("AddBaiHatYeuThich", "Personal", FormMethod.Post))
                                                {
                                                        <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                        <button type="submit" name="submit" class="btn_hidden">
                                                            <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                                        </button>
                                                }
                                            }
                                        }
                                        else
                                        {
                                            using (Html.BeginForm("AddBaiHatYeuThich", "Personal", FormMethod.Post))
                                            {
                                                    <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                    <button type="submit" name="submit" class="btn_hidden">
                                                        <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                                    </button>
                                            }
                                        }

                                    }

                                    <span class="middle thoiluong">@item.THOILUONG</span>
                                    <span class="middle"><i class="fa-solid fa-download"></i></span>
                                    <div class="middle">
                                        <div class="dropdown">
                                            <a id="dLabel" role="button" data-toggle="dropdown" class="btn " data-target="#" href="#" style="border: 0px;">
                                                <i class="fa-solid fa-ellipsis"></i>
                                            </a>
                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                <li style="padding: 0px"><a class="add-playlist" link=" @Html.DisplayFor(modelItem => item.LINKBH)" name="@item.TENBAIHAT" img="@item.ANHBH" id="@i">Thêm vào DS phát</a></li>

                                                <li style="padding: 0px" class="dropdown-submenu">
                                                    <a tabindex="-1" href="#">
                                                        Thêm vào playlist
                                                    </a>

                                                    <ul class="dropdown-menu" style="right: 100%; left: 0px; ">
                                                        @if (Model.Playlists != null)
                                                        {
                                                            foreach (var pl in Model.Playlists)
                                                            {
                                                                <form action="~/User/Personal/AddBaiHatPlaylist" method="POST" id="form-id">
                                                                <li>
                                                                    <input hidden value="@pl.Id" name="playlistId" id="playlistId" />
                                                                    <input hidden value="@item.Id" name="baihatId" id="baihatId" />
                                                                    <button type="submit" style="background-color: inherit;border: 0px">@pl.TENPLAYLIST</button>
                                                                </li>
                                                                </form>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                @Html.ActionLink("Đăng nhập", "index","Login" , new {@class = "btn btn-primary btn-block" })

                                                            </li>

                                                        }
                                                    </ul>
                                                </li>
                                                <li style="padding: 0px"><a href="#">Some other action</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div>
        <div class="result-subject">
            <p class="subject">
                US - UK
            </p>
            <p class="tatca">
                <span>Tất cả &nbsp;<i class="arrow glyphicon glyphicon-chevron-right"></i></span>
            </p>
        </div>
        <div class="result-album-content">
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Bảng xếp hạng US - UK
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Top bài hát US-UK mới nhất
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Những album US-UK khác
                    </p>
                </div>
            </div>
            <div class="result-album-item">
                <img src="~/Theme/images/usuk.png" height="200px">
                <div>
                    <p class="result-album-name">
                        Những album US-UK khác
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

