@model QLBH.Models.PersonalModel
@{
    ViewBag.Title = "Danh sách cá nhân";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div  id="page-wrapper">
    <div class="main_container" style="position:relative">
        <div class="header_section">
            <div class="text_header">Thư viện</div>
            <input id="usertoken" value="@Model.userToken" hidden/>
        </div>
        <div class="review-slider">
            <div class="tittle-head">
                <h3 class="tittle" style="color:white;">PLAYLIST </h3>
                @*<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left:20px;">
                    <a href="/User/Personal/AddPlaylist">
                        <span class="material-symbols-outlined">
                            add
                        </span>
                    </a>
                </button>*@
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left:20px;">
                    <!-- <a href="/User/Personal/AddPlaylist"> -->
                    <span class="material-symbols-outlined">
                        add
                    </span>
                    <!-- </a> -->
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style=" background-color: #173b45; ">
                            <div class="modal-header" style="    border-bottom: 1px solid #173b20;">
                                <h5 class="modal-title color_black" id="exampleModalLongTitle">Tạo Playlist mới</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="~/User/Personal/AddPlaylist" method="POST" id="form-id">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label class="control-label color_black">Tên Playlist</label>
                                        <input style="border-radius: 5px;
                                                    border: 1px solid hsla(0,0%,100%,0.1);
                                                    background-color: #173b49;"
                                               class="form-control" id="TENPLAYLIST" name="TENPLAYLIST" placeholder="Tên Playlist" />
                                        <span  class="text-danger"></span>
                                    </div>
                                    <div class="modal-footer" style="border-top: 1px solid #173b20">
                                        @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                                        <input type="submit" name="submit" value="Tạo mới" class=" btn" style="background-color: #158370 " />
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="row">

                @foreach (var item in Model.Playlists)
                {
                    <div class="col-sm-2 col-md-2">
                        <div class="thumbnail" >
                            @{
                                try{
                                    <img class="square_img" src="@item.BaiHats[0].ANHBH" alt=" @item.TENPLAYLIST" style="height: 200px;">

                                }
                                catch 
                                {
                                    <img class="square_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_2Bzg9a5mY5GEuTu75CSG8NM-JCp5z8PWWQ&usqp=CAU" alt="Ảnh PLaylist">

                                }
                            }
                                <div class="caption">
                                            <h3 style="text-align:center; height:70px">@item.TENPLAYLIST</h3>
                                            <p>
                                                 @Html.ActionLink("Xem thêm", "PersonalPlaylist","Personal" , new { id=item.Id  }, new {@class = "btn btn-primary btn-block" })
                                            </p>
                                </div>
                            </div>
                        </div>
                }
             </div>
        </div>
        <div class="playlist_section">
            <div class="container_baihatyeuthich">
                <div class="text">
                    <div class="tittle-head ">
                        <h3 class="tittle" style="color:white; margin-right: 20px">BÀI HÁT YÊU THÍCH </h3>
                        <div class="button ">
                            <div  class=" ">
                            <button class="button_play_header update_playlist_audio">
                                <span class="material-symbols-outlined">
                                    play_circle
                                </span>
                            </button>
                            </div>
                        </div> 
                        <div class="clearfix"> </div>
                    </div>
                    <div class="list-song scrollbar widget-side" id="style-7">
                        @{
                            var i = 0;
                        }
                        @foreach (var item in Model.BaiHats)
                        {
                                i++;
                                <ul class="songs list1">
                         
                                <li class="main-song" onmouseenter="mouseenterIcon(this)" onmouseleave="mouseleaveIcon(this)">
                                    <div class="row">

                                        <div class="col-md-5 main-song-title">
                                                        <div  class="play_audio main-song-cover" link=" @Html.DisplayFor(modelItem => item.LINKBH)" name="@item.TENBAIHAT" img="@item.ANHBH" nameart="@item.Casi[0].TenNS">
                                                    <img class="img_audio main-song-img" src="@item.ANHBH"/>
                                                    <div class=" main-song-play mini-song-play">
                                                        <i class="play_song fa-solid fa-play" ></i>
                                                    </div>
                                                </div>

                                            <div class="main-song-text">
                                                <p class="name_audio">@item.TENBAIHAT</p>
                                                <p><a href="/User/NgheSy/Index/@item.Casi[0].Id" class="caSi js-name_art" style="color: white;">@item.Casi[0].TenNS</a></p>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                    <span class="middle"> @Html.DisplayFor(modelItem => item.Album.TENAL)</span>
                                        </div>

                                        <div class="col-md-3">
                                            <div id="song-1" class="icons">
                                                
                                                <form action="~/User/Personal/DelBaiHatYeuThich" method="POST">
                                                    <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                    <button type="submit" name="submit" class="btn_hidden">
                                                        <span class="middle"><i class="fa-solid fa-heart"></i></span>
                                                    </button>
                                                </form>
                                                
                                                <span class="middle thoiluong">@item.THOILUONG</span>
                                                <span class="middle"><i class="fa-solid fa-download"></i></span>
                                                <div class="middle">
                                                    <div class="dropdown">
                                                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn " data-target="#" href="#" style="border: 0px;">
                                                            <i class="fa-solid fa-ellipsis"></i>
                                                        </a>
                                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                <li style="padding: 0px"><a class="add-playlist" link=" @Html.DisplayFor(modelItem => item.LINKBH)" name="@item.TENBAIHAT" img="@item.ANHBH" nameart="@item.Casi[0].TenNS">Thêm vào DS phát</a></li>

                                                            <li style="padding: 0px" class="dropdown-submenu">
                                                                <a tabindex="-1" href="#">
                                                                    Thêm vào playlist
                                                                </a>

                                                                <ul class="dropdown-menu" style="right: 100%; left: 0px; ">
                                                                    @try
                                                                    {
                                                                        foreach (var pl in Model.Playlists)
                                                                        {
                                                                            <form action="~/User/Personal/AddBaiHatPlaylist" method="POST" id="form-id">
                                                                            <li>
                                                                                <input hidden value="@pl.Id" name="playlistId" id="playlistId" />
                                                                                <input hidden value="@item.Id" name="baihatId" id="baihatId" />
                                                                                <button type="submit" style="background-color: inherit;border: 0px">
                                                                                        @pl.TENPLAYLIST
                                                                                </button>
                                                                            </li>
                                                                            </form>
                                                                        }
                                                                    }
                                                                    catch
                                                                    {
                                                                        <li>
                                                                            @Html.ActionLink("Đăng nhập", "index","Login" , new {@class = "btn btn-primary btn-block" })

                                                                        </li>
                                                                    }
                                                                    
                                                                </ul>
                                                            </li>
                                                            <li style="padding: 0px"><a href="#">Some other action</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                    </div>
                                </li>
                            
                            </ul>
                        }

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
