@model QLBH.Models.PersonalModel;
@{
    ViewBag.Title = "Danh sách cá nhân";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}



<link href="~/Theme/Styles/personalplaylist.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<link href="~/Theme/Styles/bootstrap.css" rel="stylesheet" />
<link href="~/Theme/Styles/index.css" rel="stylesheet" />
<link href="~/Theme/Styles/style.css" rel="stylesheet" />

<div class="main">
    <div class="containers">
        <div id="header">
            <a href="/User/Personal/" class="icon-back"><ion-icon name="arrow-back-circle-outline"></ion-icon></a>
            <h2 class="text-center">Playlist @Model.Playlist.TENPLAYLIST</h2>
        </div>
        <div id="wp-content" class="d-flex">
            <div id="sidebar">
                @{
                    try
                    {
                        <img src="@Model.BaiHats[0].ANHBH" alt="">

                    }
                    catch
                    {
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_2Bzg9a5mY5GEuTu75CSG8NM-JCp5z8PWWQ&usqp=CAU" alt="">

                    }
                }
                <div class="text-details">
                    <div class="name-playlist">
                       <span>
                            @Model.Playlist.TENPLAYLIST
                            <i class="lnr lnr-pencil" data-toggle="modal" data-target="#exampleModalCenter"></i>
                       </span> 
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="height: 100vh;">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="min-height: 500px;">
                                <div class="modal-content" style=" background-color: #173b45; ">
                                    <div class="modal-header" style="    border-bottom: 1px solid #173b20;">
                                        <h4 class="modal-title color_black" id="exampleModalLongTitle">Sửa Playlist @Model.Playlist.TENPLAYLIST</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action ="~/User/Personal/UpdatePlaylist" method="post" id="form-id">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label class="control-label color_black">Tên Playlist</label>
                                                <input hidden name="id" id="id" value="@Model.Playlist.Id" />
                                                <input style="border-radius: 5px;
                                                    border: 1px solid hsla(0,0%,100%,0.1);
                                                    background-color: #173b49;"
                                                       class="form-control" id="TENPLAYLIST" name="TENPLAYLIST" placeholder="@Model.Playlist.TENPLAYLIST" />
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="modal-footer" style="border-top: 1px solid #173b20">
                                                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                                                <input type="submit" name="submit" value="Cập nhật" class=" btn" style="background-color: #158370 " />
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="btn  btn-phatnhac update_playlist_audio" href="#" role="button">Phát ngẫu nhiên</div>
                </div>

            </div>
            <div id="content">
                <div class="list-song  widget-side" id="style-7">
                    <ul>
                        <li>
                            <div class="row" style="font-size:20px;">
                                    <div class="col-md-5" >
                                        Tên Bài Hát
                                    </div>
                                    <div class="col-md-4">
                                        Lượt Nghe
                                    </div>

                                    <div class="col-md-3">
                                        
                                    </div>
                                </div>
                        </li>

                    </ul>

                    <ul class="songs list1 ">
                        @{
                            var i = 0;
                        }
                        @foreach (var item in Model.BaiHats)
                        {   
                            i++;
                            <li class="main-song" onmouseenter="mouseenterIcon(this)" onmouseleave="mouseleaveIcon(this)">
                                <div class="row">
                                    <div class="col-md-5 main-song-title">
                                                <div  class="play_audio main-song-cover" link=" @Html.DisplayFor(modelItem => item.LINKBH)" name="@item.TENBAIHAT" img="@item.ANHBH" nameart="@item.Casi[0].TenNS">
                                                    <img class="main-song-img img_audio" src="@item.ANHBH"/>
                                            <div class="main-song-play mini-song-play"><i class="fa-solid fa-play"></i></div>
                                        </div>
                                        <div class="main-song-text">
                                            <p class="name_audio">
                                                <a class="color_white js-name_art" href="/User/BaiHat/Index/@item.Id">
                                                    @item.TENBAIHAT
                                            </a> 
                                            </p>
                                            <p><a href="/User/NgheSy/index/@item.Casi[0].Id" class="caSi">@item.Casi[0].TenNS</a></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="middle">@item.LUOTNGHE</span>
                                    </div>

                                    <div class="col-md-3">
                                        <div id="song-1" class="icons">
                                            <span class="middle">
                                                @{
                                                    if (Model.BaiHatYeuThichs_Playlist != null)
                                                    {
                                                        int yt = 0;
                                                        foreach (var bhyt in Model.BaiHatYeuThichs_Playlist)
                                                        {
                                                            if (item.Id == bhyt.Id)
                                                            {
                                                                yt = 1;
                                                            }

                                                        }
                                                        if (yt == 1)
                                                        {
                                                            using (Html.BeginForm("DelBaiHatYeuThich", "Personal", FormMethod.Post))
                                                            {
                                                                <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                                <button type="submit" name="submit" class="btn_hidden">
                                                                    <span class="middle"><i class="fa-solid fa-heart"></i></span>
                                                                </button>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            using (Html.BeginForm("AddBaiHatYeuThich", "Personal", FormMethod.Post))
                                                            {
                                                                <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                                <button type="submit" name="submit" class="btn_hidden">
                                                                    <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                                                </button>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        using (Html.BeginForm("AddBaiHatYeuThich", "Personal", FormMethod.Post))
                                                        {
                                                            <input hidden value="@Html.DisplayFor(modelItem => item.Id)" name="id" id="id" />
                                                            <button type="submit" name="submit" class="btn_hidden">
                                                                <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                                            </button>
                                                        }
                                                    }

                                                }
                                            </span>
                                            <span class="middle thoiluong">@item.THOILUONG</span>
                                            <span class="middle"><i class="fa-solid fa-download"></i></span>
                                            <span class="middle">
                                                <div class="dropdown">
                                                    <a id="dLabel" role="button" data-toggle="dropdown" class="btn " data-target="#" href="#" style="border: 0px;">
                                                        <i class="fa-solid fa-ellipsis"></i>
                                                    </a>
                                                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                        <li style="padding: 5px; height: 37px;"><a class="add-playlist" link=" @Html.DisplayFor(modelItem => item.LINKBH)" name="@item.TENBAIHAT" img="@item.ANHBH" id="@i">Thêm vào DS phát</a></li>

                                                        <li style="padding: 5px; height: 37px;" class="dropdown-submenu">
                                                            <a tabindex="-1" href="#">
                                                                Thêm vào playlist
                                                            </a>

                                                            <ul class="dropdown-menu" style="right: 100%; left: 0px; ">
                                                                 @try
                                                                {
                                                                    foreach (var pl in Model.Playlists)
                                                                    {
                                                                        <form style="height: 40px;" action="~/User/Personal/AddBaiHatPlaylist" method="POST" id="form-id">
                                                                        <li style="height: 40px;">
                                                                            <input hidden value="@pl.Id" name="playlistId" id="playlistId" />
                                                                            <input hidden value="@item.Id" name="baihatId" id="baihatId" />
                                                                            <button  type="submit" style="background-color: inherit;border: 0px;">@pl.TENPLAYLIST</button>
                                                                        </li>
                                                                        </form>
                                                                    }
                                                                }
                                                                catch
                                                                {
                                                                    <li>
                                                                        @Html.ActionLink("Đăng nhập", "index","Login" , new {@class = "btn btn-primary btn-block" })

                                                                    </li>
                                                                }
                                                            </ul>
                                                        </li>
                                                        <li style="padding: 5px; height: 37px;">
                                                            <form action="~/User/Personal/DelBaiHatPlaylist" method="POST" id="form-id">
                                                                <input hidden value="@Model.Playlist.Id" name="playlistId" id="playlistId" />
                                                                <input hidden value="@item.Id" name="baihatId" id="baihatId" />
                                                                <button class="btn" type="submit" style="background-color: inherit;border: 0px; position: absolute;">Xóa bài hát khỏi Playlist</button>
                                                            </form>
                                                            
                                                        </li>
                                                    </ul>
                                                </div>
                                                
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                </div>
            </div>

        </div>

    </div>
</div>