@model QLBH.Models.HomeModel;

@{
    ViewBag.Title = Model.BaiHat.TENBAIHAT;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Theme/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Theme/Styles/general.css" rel="stylesheet">
    <link href="~/Theme/Styles/phatnhac.css" rel="stylesheet">
    <link href="~/Theme/Styles/audio.css" rel="stylesheet">

    <link href="~/Theme/Styles/icon-font.css" rel="stylesheet" />
        <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="~/theme/scripts/downloadsingle.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/Theme/Scripts/phatnhac.js" defer></script>
    <script src="~/Theme/Scripts/baihat.js" defer></script>
</head>
<body class="body-trangphatnhac">
    <div id="lyric-more" class="lyric-background-hidden">
        <div class="play-bar">
            <div class="playbar-info">
                <img class="img_play_song" style="border-radius: 50%;" src="https://i.pinimg.com/736x/c2/f7/88/c2f788197471e6596e94ac1f1df1cf37.jpg" >
                <div>
                    <p class="playbar-song-name">@Model.BaiHat.TENBAIHAT</p>
                    <p class="playbar-song-artist">@Model.BaiHat.Casi[0].TenNS</p>
                </div>
                <div class="playbar-info-more">
                    <span id="icon-heart" class="icon-main">
                       @* <i class="fa-regular fa-heart"></i>*@
                        @{
                            if (Model.BaiHatYeuThichs != null)
                            {
                                int yt = 0;
                                foreach (var bhyt in Model.BaiHatYeuThichs)
                                {
                                    if (Model.BaiHat.Id == bhyt.Id)
                                    {
                                        yt = 1;
                                    }

                                }
                                if (yt == 1)
                                {
                                    <form action="/User/Personal/DelBaiHatYeuThich" method="post" class="dropup">
                                        <input hidden value="@Html.DisplayFor(modelItem => modelItem.BaiHat.Id)" name="id" id="id" />
                                        <button type="submit" name="submit" class="btn_hidden">
                                            <span class="middle"><i class="fa-solid fa-heart"></i></span>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form action="/User/Personal/AddBaiHatYeuThich" method="post" class="dropup">
                                        <input hidden value="@Html.DisplayFor(modelItem => modelItem.BaiHat.Id)" name="id" id="id" />
                                        <button type="submit" name="submit" class="btn_hidden">
                                            <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                        </button>
                                    </form>
                                }
                            }
                            else
                            {
                                 <form action="/User/Personal/AddBaiHatYeuThich" method="post" class="dropup">
                                        <input hidden value="@Html.DisplayFor(modelItem => modelItem.BaiHat.Id)" name="id" id="id" />
                                        <button type="submit" name="submit" class="btn_hidden">
                                            <span class="middle "><i class="fa-regular fa-heart "></i></span>
                                        </button>
                                    </form>
                            }
                        }
                    </span>

                    <div class="dropup">
                        <button class="dropbtn">
                            <span id="icon-option" class="icon-main">
                                <i class="fa-solid fa-ellipsis"></i>
                            </span>
                        </button>
                        <div class="dropup-content">
                            <div>
                                <form action="#">
                                    <a class="atag" download="@Model.BaiHat.TENBAIHAT" href="https://res.cloudinary.com/dccswqs2m/video/upload/v1671970554/j0uhh8sxsbtzywdykauq.mp3"></a>
                                    <input class="fileInput" type="url" hidden value="@Model.BaiHat.LINKBH" />
                                    <button class="btn-download_single btn_hidden">Tải xuống</button>
                                </form>
                            </div>
                            <div href="#">Thêm vào playlist</div>
                            <div href="#">Khác</div>
                        </div>
                    </div>
                </div>
            </div>

            <audio src="http://www.w3schools.com/html/horse.mp3" crossOrigin="anonymous" id="song"></audio>

            <div class="playbar-play">
                <div class="playbar-play-item">
                    <ion-icon name="shuffle-outline" class="play-random"></ion-icon>
                    <div class="playbar-play-detail">
                        <ion-icon name="play-back" class="play-back"></ion-icon>
                        <div class="play">
                            <div class="player-inner">
                                <ion-icon name="play" class="play-icon"></ion-icon>
                            </div>
                        </div>
                        <ion-icon name="play-forward" class="play-forward"></ion-icon>
                    </div>

                    <ion-icon name="repeat-outline" class="play-repeat"></ion-icon>
                </div>


                <div class="range-container">
                    <input type="range" name="range" id="range" class="range" />
                    <div class="timer">
                        <div class="remaining">-3:10</div>
                        <div class="duration">2:10</div>
                    </div>
                </div>
            </div>
            <div class="playbar-option">
                    <div class="volume">
                        <div class="volume-btn">
                        <ion-icon name="volume-mute-outline" class="min-volume"></ion-icon>     
                        <ion-icon name="volume-high-outline" class="max-volume"></ion-icon>
                        </div>
                        <div>
                        <input type="range" id="volume" min="0" max="100" value="50" class="range-volume"/>
                        </div>
                    </div>
                <a><i class="fa-solid fa-music black-icon" id="icon-lyric"></i></a>
            </div>

            <div class="playbar-expand">
                <!-- Expand -->
                <!-- <i class="fa-solid fa-maximize"></i> -->
                <!-- Collapse -->
                <a href="~/"><i class="fa-solid fa-minimize black-icon close-expand" id="icon-expand"></i></a>
            </div>
        </div>
        <div class="lyric-detail-hidden loiBH" id="lyric">
            @Model.BaiHat.LOIBAIHAT
        </div>
    </div>
</body>
</html>
