@model QLBH.Models.TimKiemModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="container-Timkiem">
        <div class="container-Timkiem-item1">
            <div class="nav-search-filter">
                <div>
                    <span class="nav-search-subject">
                        Kết quả tìm kiếm
                    </span>
                    <span>
                        |
                    </span>
                </div>
                
            </div>
            <hr>
            <div class="search-result">

                <div class="result-main baihat">
                        @try
                        {
                            <img src="@Model.BaiHats[0].ANHBH" height="95px">
                            <div>
                                <p class="result-main-category">
                                    Bài hát
                                </p>
                                <p class="result-main-name">
                                <a class="color_hover" href="/User/BaiHat/Index/@Model.BaiHats[0].Id">
                                    @Model.BaiHats[0].TENBAIHAT
                                </a>

                                </p>
                                <p class="result-main-other">
                                <a class="color_hover" href="/User/NgheSy/Index/@Model.BaiHats[0].Casi[0].Id">

                                    @Model.BaiHats[0].Casi[0].TenNS
                                    </a>
                                </p>
                            </div>

                        }
                        catch
                        {
                            <p>Không tìm thấy bài hát</p>
                        }
                </div>

                <div class="result-main nghesy">
                        @try
                        {
                            <img src="@Model.NgheSis[0].AnhNS" height="95px">
                            <div>
                                <p class="result-main-category">
                                    Nghệ Sỹ
                                </p>
                                <p class="result-main-name">
                                <a class="color_hover" href="/User/NgheSy/Index/@Model.NgheSis[0].Id">

                                    @Model.NgheSis[0].TenNS
                                </a>

                                </p>
                                <p class="result-main-other">

                                </p>
                            </div>
                        }
                        catch
                        {
                            <img src="@Model.BaiHats[0].Casi[0].AnhNS" height="95px">
                            <div>
                                <p class="result-main-category">
                                    Nghệ Sỹ
                                </p>
                                <p class="result-main-name">
                                <a class="color_hover" href="/User/NgheSy/Index/@Model.BaiHats[0].Casi[0].Id">

                                    @Model.BaiHats[0].Casi[0].TenNS
                                </a>

                                </p>
                                <p class="result-main-other">

                                </p>
                            </div>
                        }
                        
                </div>
                <div class="result-main album">
                   
                        @try
                        {
                            <img src="@Model.Albums[0].ANHAL" height="95px">
                            <div>
                                <p class="result-main-category">
                                    Album
                                </p>
                                <p class="result-main-name">
                                <a class="color_hover" href="/User/Album/ChiTietAlbum/@Model.Albums[0].Id">

                                    @Model.Albums[0].TENAL
                                </a>

                                </p>
                                <p class="result-main-other">
                                    @Model.Albums[0].LUOTQUANTAM
                                </p>
                            </div>

                        }
                        catch
                        {


                            <img src="@Model.BaiHats[0].Album.ANHAL" height="95px">
                            <div>
                                <p class="result-main-category">
                                    Album
                                </p>
                                <p class="result-main-name">
                                <a class="color_hover" href="/User/Album/ChiTietAlbum/@Model.BaiHats[0].Album.Id">
                                        @Model.BaiHats[0].Album.TENAL
                                </a>

                                </p>
                                <p class="result-main-other">
                                    @Model.BaiHats[0].Album.LUOTQUANTAM

                                </p>
                            </div>

                        }
                    
                    
                </div>
            </div>
            <div class="result-subject">
                <p class="subject">
                    Bài hát
                </p>
                <p class="tatca">
                    <span>Tất cả &nbsp;<i class="arrow glyphicon glyphicon-chevron-right"></i></span>
                </p>

            </div>
            <div>
                <div class="result-baihat-item item-left " >
                    @{
                        var idbh = 0;
                    }
                    @for(int i = 0; i < Model.BaiHats.Count; i = i + 2)
                    {
                        idbh++;
                        <div class="result-baihat-detail" onmouseenter="mouseenterIconTK(this)" onmouseleave="mouseleaveIconTK(this)">
                            <div style="flex-basis:70%" class="result-baihat-img-name " >
                                                <div class="main-song-cover play_audio" link=" @Model.BaiHats[i].LINKBH" name="@Model.BaiHats[i].TENBAIHAT" img="@Model.BaiHats[i].ANHBH" nameart="@Model.BaiHats[i].Casi[0].TenNS" idbh="@Model.BaiHats[i].Id">

                                    <img class="img_audio main-song-img " style="width: 80px;" src="@Model.BaiHats[i].ANHBH" />
                                    <div class="main-song-play icon_play_search">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                <div class="result-baihat-img-name-detail">
                                    <p class="result-baihat-name name_audio">
                                        <a class="color_hover" href="/User/BaiHat/Index/@Model.BaiHats[i].Id">
                                        @Model.BaiHats[i].TENBAIHAT
                                        </a>
                                    </p>
                                    <p class="result-baihat-name-other">
                                                <a class="color_hover js-name_art" href="/User/Nghesy/Index/@Model.BaiHats[i].Casi[0].Id">
                                        @Model.BaiHats[i].Casi[0].TenNS
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <div class="result-baihat-time-option">
                                <p>
                                    @Model.BaiHats[i].THOILUONG
                                </p>
                                <div class="middle">
                                                        <div class="dropdown">
                                                            <a id="dLabel" role="button" data-toggle="dropdown" class="btn " data-target="#" href="#" style="border: 0px;" >
                                                                <i class="fa-solid fa-ellipsis"></i>
                                                            </a>
                                                            <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                                <li style="padding: 0px" ><a class="add-playlist" link=" @Model.BaiHats[i].LINKBH" name="@Model.BaiHats[i].TENBAIHAT" img="@Model.BaiHats[i].ANHBH" nameart="@Model.BaiHats[i].Casi[0].TenNS" idbh="@Model.BaiHats[i].Id">Thêm vào DS phát</a></li>

                                                                <li style="padding: 0px" class="dropdown-submenu">
                                                                    <a tabindex="-1" href="#">
                                                                                Thêm vào playlist
                                                                    </a>

                                                                    <ul class="dropdown-menu" style="right: 100%; left: 0px; ">
                                                    @if (Model.Playlists != null)
                                                    {
                                                        foreach (var pl in Model.Playlists)
                                                        {
                                                            <form action="~/User/Personal/AddBaiHatPlaylist" method="POST" id="form-id">
                                                            <li>
                                                                <input hidden value="@pl.Id" name="playlistId" id="playlistId" />
                                                                <input hidden value="@Model.BaiHats[i].Id" name="baihatId" id="baihatId" />
                                                                <button type="submit" style="background-color: inherit;border: 0px">@pl.TENPLAYLIST</button>
                                                            </li>
                                                            </form>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            @Html.ActionLink("Đăng nhập", "index","Login" , new {@class = "btn btn-primary btn-block" })

                                                        </li>

                                                    }
                                                                    </ul>
                                                                </li>
                                                                @*<li style="padding: 0px"><a href="#">Some other action</a></li>*@
                                                            </ul>
                                                        </div>
                                                    </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="result-baihat-item item-right">
                    @for(int i = 1; i < Model.BaiHats.Count; i = i+ 2)
                    {
                        idbh++;
                        <div class="result-baihat-detail" onmouseenter="mouseenterIconTK(this)" onmouseleave="mouseleaveIconTK(this)">
                             <div style="flex-basis:70%" class="result-baihat-img-name ">
                                         <div class="main-song-cover play_audio" link=" @Model.BaiHats[i].LINKBH" name="@Model.BaiHats[i].TENBAIHAT" img="@Model.BaiHats[i].ANHBH" nameart="@Model.BaiHats[i].Casi[0].TenNS" idbh="@Model.BaiHats[i].Id">

                                    <img class="img_audio main-song-img " style="width: 80px;" src="@Model.BaiHats[i].ANHBH" />
                                    <div class="main-song-play icon_play_search">
                                        <i class="fa-solid fa-play"></i>
                                    </div>
                                </div>
                                    <div class="result-baihat-img-name-detail" class="img_audio">
                                        <p class="result-baihat-name name_audio">
                                        <a class="color_hover " href="/User/BaiHat/Index/@Model.BaiHats[i].Id">

                                        @Model.BaiHats[i].TENBAIHAT
                                        </a>
                                    </p>
                                    <p class="result-baihat-name-other">
                                        <a class="color_hover js-name_art" href="/User/NgheSy/Index/@Model.BaiHats[i].Casi[0].Id">
                                        @Model.BaiHats[i].Casi[0].TenNS
                                        </a>

                                    </p>

                                    </div>
                            </div>
                            <div class="result-baihat-time-option">
                                <p>
                                    @Model.BaiHats[i].THOILUONG

                                </p>
                                <div class="middle">
                                                            <div class="dropdown">
                                                                <a id="dLabel" role="button" data-toggle="dropdown" class="btn " data-target="#" href="#" style="border: 0px;" >
                                                                    <i class="fa-solid fa-ellipsis"></i>
                                                                </a>
                                                                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                                                        <li style="padding: 0px" ><a class="add-playlist" link=" @Model.BaiHats[i].LINKBH" name="@Model.BaiHats[i].TENBAIHAT" img="@Model.BaiHats[i].ANHBH" nameart="@Model.BaiHats[i].Casi[0].TenNS" idbh="@Model.BaiHats[i].Id">Thêm vào DS phát</a></li>

                                                                    <li style="padding: 0px" class="dropdown-submenu">
                                                                        <a tabindex="-1" href="#">
                                                                                    Thêm vào playlist
                                                                        </a>

                                                                        <ul class="dropdown-menu" style="right: 100%; left: 0px; ">
                                                                            @if (Model.Playlists != null)
                                                                            {
                                                                                foreach (var pl in Model.Playlists)
                                                                                {
                                                                                    <form action="~/User/Personal/AddBaiHatPlaylist" method="POST" id="form-id">
                                                                                    <li>
                                                                                        <input hidden value="@pl.Id" name="playlistId" id="playlistId" />
                                                                <input hidden value="@Model.BaiHats[i].Id" name="baihatId" id="baihatId" />
                                                                                        <button type="submit" style="background-color: inherit;border: 0px">@pl.TENPLAYLIST</button>
                                                                                    </li>
                                                                                    </form>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                <li>
                                                                                    @Html.ActionLink("Đăng nhập", "index","Login" , new {@class = "btn btn-primary btn-block" })

                                                                                </li>

                                                                            }
                                                                        </ul>
                                                                    </li>
                                                                    @*<li style="padding: 0px"><a href="#">Some other action</a></li>*@
                                                                </ul>
                                                            </div>
                                                        </div>
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="clearfix">

                </div>
            </div>

            <div class="result-subject">
                <p class="subject">
                    Playlist/Album
                </p>
                <p class="tatca">
                    <span>Tất cả &nbsp;<i class="arrow glyphicon glyphicon-chevron-right"></i></span>
                </p>
            </div>
            <div class="result-album-content">
                <ul class="ul-albums">
                    @foreach (var item in Model.Albums)
                    {
                        <li class="main-album">
                            <div class="img-contain hover-img">
                                <div class="mask">
                                    <a href="/user/Album/ChiTietAlbum/@item.Id">
                                        <i class="fa-regular fa-circle-play"></i>

                                    </a>
                                </div>
                                <img class="main-album-img " src="@item.ANHAL" />
                            </div>
                            <div>
                                <p class="title-album">@item.TENAL</p>
                            </div>
                        </li>
                    }
                    @foreach (var item in Model.BaiHats)
                    {
                        <li class="main-album">
                            <div class="img-contain hover-img">
                                <div class="mask">
                                    <a href="/user/Album/ChiTietAlbum/@item.Album.Id">
                                        <i class="fa-regular fa-circle-play"></i>

                                    </a>
                                </div>
                                <img class="main-album-img " src="@item.Album.ANHAL" />
                            </div>
                            <div>
                                <p class="title-album">@item.Album.TENAL</p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            
            <div class="result-other">
                <div class="result-other-content">
                    <div class="result-subject">
                        <p class="subject">
                            Ca sỹ
                        </p>
                        <p class="tatca">
                            <span>Tất cả &nbsp;<i class="arrow glyphicon glyphicon-chevron-right"></i></span>
                        </p>
                    </div>
                    <div class="search-result-wrap">
                        @foreach(var item in Model.NgheSis)
                        {
                            <div class="result-other-detail">
                                <img src="@item.AnhNS" width="150px">
                                <p class="result-nghesy-name">
                                    <a class="color_hover " href="/User/BaiHat/Index/@item.Id">
                                        @item.TenNS
                                    </a>
                                </p>
                                <p class="result-nghesy-quantam">
                                    48 quan tâm
                                </p>
                                <p id="btn-quantam" class="quantam-btn">
                                    Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                                </p>
                            </div>
                        }
                        @{
                            var idNgheSis = new List<int>();
                            foreach (var item in Model.BaiHats)
                            {
                                int kq = 1;

                                foreach(var id in idNgheSis)
                                {
                                    if(item.Casi[0].Id == id)
                                    {
                                        kq = 0;
                                    }
                                }
                                if(kq == 1)
                                {
                                    idNgheSis.Add(item.Casi[0].Id);

                                    <div class="result-other-detail">
                                        <img src="@item.Casi[0].AnhNS" width="150px">
                                        <p class="result-nghesy-name">
                                            <a class="color_hover " href="/User/BaiHat/Index/@item.Casi[0].Id">
                                                @item.Casi[0].TenNS
                                            </a>
                                        </p>
                                        
                                        <p class="result-nghesy-quantam">
                                            48 quan tâm
                                        </p>
                                        <p id="btn-quantam" class="quantam-btn">
                                            Quan tâm &nbsp;<span><i class="fa-solid fa-user-plus"></i></span>
                                        </p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="container-Timkiem-item2">
            <div class="ChuDe-subject">
                Chủ đề
            </div>
            <div>
                <div class="ChuDe-content ChuDe-content-item1">
                    <img src="https://media.istockphoto.com/photos/summer-romance-picture-id1128009064?k=6&m=1128009064&s=170667a&w=0&h=6gcaMXWIZRZojN36OxYDbsu7NjFEt6Q7gEVpDT9oxCY="/>
                    <span class="ChuDe-detail">
                        ROMANCE
                    </span>
                </div>
                <div class="ChuDe-content ChuDe-content-item2">
                    <span class="ChuDe-detail">
                        DANCE
                    </span>
                </div>
                <div class="ChuDe-content ChuDe-content-item3">
                    <span class="ChuDe-detail">
                        SLEEP
                    </span>
                </div>
                <div class="ChuDe-content ChuDe-content-item4">
                    <span class="ChuDe-detail">
                        CHILDREN
                    </span>
                </div>
                <div class="ChuDe-content ChuDe-content-item5">
                    <span class="ChuDe-detail">
                        OTHER
                    </span>
                </div>
            </div>
            
            <div class="ChuDe-subject">
                Quốc gia
            </div>
            <div class="quocgia-content">
                <ul>
                    <li class="quocgia-content-item">
                        V-Pop
                    </li>
                    <li class="quocgia-content-item">
                        K-Pop
                    </li>
                    <li class="quocgia-content-item">
                        Trung Hoa
                    </li>
                    <li class="quocgia-content-item">
                        US - UK
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>